body {
	font-weight: bolder;
    font-size: 35px;
}
button {
    background-color:rgb(77, 148, 77);
    color: white;
    border-width: 1px;
    width: 150px;
    height: 75px;
    margin:7.5px;
   
}
input{
    height: 30px;
    font-size: large;
    font-weight: bold;
}

#container{
    background-color:rgb(189,236,182,0.6);
    border-radius: 0%;
    border-width:50222222px;
    border-color: red;
    height: 600px;
    width: 750px;
    margin-left: 10%;
}
#Powered{
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    font-size: 30px;
    margin-left:10%;
}

