html {
    font-family: Helvetica;
    display: inline-block;
    margin: 0px auto;
    text-align: center;
    background-color:rgb(189,236,182,0.6);
  }
  h1{
    color: #0F3376;
    padding: 2vh;
  }
  p{
    font-size: 1.5rem;
  }

  .button {
    display: inline-block;
    background-color: rgb(77, 148, 77);
    border: none;
    border-radius: 4px;
    color: white;
    text-decoration: none;
    cursor: pointer;
  }
  .volta {
    background-color: rgb(77, 148, 77);
  }
  .clearag { 
    display: inline-block;
    background-color: #f44336;
    border: none;
    border-radius: 4px;
    color: white;
    text-decoration: none;
    cursor: pointer;
  }
  .butao {
    background-image:url("/reload.png");
    }